body{
	margin:0;
	overflow: hidden;
	background:black;
	background:url('../images/bannerbg.jpg');
	color:white;
}
div{
	display:inline-block;
}
#headerContainer{
	width:100%;
}
#logo{
	position:absolute;
	top:240px;left:300px;
	/*It's invisible but it'll fade in.*/
	opacity: 0;
}
/*Name of company*/
header h1{
	position:absolute;
	display:inline-block;
	bottom:230px;left:200px;
	font-size: 80px;
	margin:0;
	font-family: 'Aldrich', sans-serif;
	color:rgb(0, 169, 255);
	text-shadow: 0 3px 0 white;
	white-space: nowrap;
}
/*"Lorem"*/
#lor{
	/*It's offscreen but it'll slide in.*/
	position:absolute;
	bottom:-500px;left:-500px;
}
/*"Ipsum"*/
#ip{
	/*It's offscreen but it'll slide in.*/
	position:absolute;
	bottom:-500px;left:270px;
}
/*"Astronautics"*/
#ast{
	/*It's offscreen but it'll slide in.*/
	position:absolute;
	bottom:-500px;left:1020px;
}
/*The navigations bar*/
nav{
	flex:1;
	position:absolute;
	top:-40px;
	width:100%;height:40px;/*needed for when it becomes fixed at the top of the page*/
	display:flex;
	flex-direction: row;
	background:black;
	background:linear-gradient(rgba(0,0,0,0.3) 0%,rgba(0,0,0,1)75%);
	z-index: 900;
	box-shadow: 0 2px 8px black;
}
/*The items in the nav bar*/
nav a, #submenuTrigger{
	flex:1;
	font-family: 'Prosto One', cursive;
	color:white;
	text-shadow: 0 2px 0 orange;
	font-size: 26px;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid orange;
	border-left: 1px solid orange;
	border-bottom:2px solid orange;
	transition:0.5s;
}
/*The items in the submenu*/
nav #submenuContainer a{
	border-bottom:0px solid orange;
}
/*Items in the navbar being hovered*/
nav a:hover, #submenuTrigger:hover{
	background:rgba(255,255,255,0.5);
	border-bottom:2px solid orange;
}
/*Remove the bottom border on the 
shop item*/
#submenuTrigger:hover{
	border-bottom:0px none black;
}
/*The submenu*/
#submenuContainer{
	position:absolute;
	z-index:900;
	top:40px;right:0;
	display:flex;
	display:none; /*leave it off
	until turned on*/
	flex-direction: column;
	font-size: 24px;
	width:33.3333%;
	background:black;
	border-left: 1px solid orange;/* one plus one = two*/
	border-bottom:2px solid orange;
}
/*The menu items on hover*/
.menuItem:hover{
	cursor:pointer;
}
/*The submenu items*/
.submenuItem{
	flex:1;
	text-shadow: 0 2px 0 blue;
}