.modal{
	position:fixed;
	top:0;left:0;
	z-index:500000;
}
#modalContainer{
	width:100%;height: 100vh;
	background:rgba(0,0,0,0.8);
	display:none;
}
#modalContent{
	width:70%;height:70%;
	margin:8% 15% 0;
	background:rgba(255,255,255,0.7);
	border-radius: 25px 0 25px 25px;
	overflow: hidden;
}
#modalContent h1{
	display:inline-block;
	width:40%;
	margin: 20px 0 0 0;
	font-family: 'Nova Mono', monospace;
	text-align: center;
	font-size: 55px;
	background:orange;
	border-radius: 0px 25px 50px 0px;
}
.modalImage{
	width:300px;height:300px;
	float: left;
	margin:20px 0 20px 20px;
	background:red;
}
#modalContent p{
	font-family: 'Nova Mono', monospace;
	font-size: 30px;
	display: block;
	margin:5px;
	padding:5px;
}
#modalContent ul{
	font-family: 'Nova Mono', monospace;
	position:absolute;
	font-size: 30px;
	margin:5px;
	padding: 0 10px;
	border-radius: 25px;
	background:rgb(20%,20%,20%);
	bottom:0;
}
#modalContent button{
	position:absolute;
	bottom:30px;right:30px;
	width:;height:50px;
	font-size: 16px;
	border-radius: 13px;
}
#modalClose{
	width:50px;height:50px;
	top:11%;
	left:83%;
	font-family: 'Nova Mono', monospace;
	border-radius: 100000000000px; /*CIRCLE*/
	text-align: center;
	line-height: 50px;
	font-size: 40px;
	background:orange;
	color:black;
	border:2px solid black;
	z-index:500001;
}
#modalClose:hover{
	color:white;
	background:blue;
	cursor:pointer;
}