main{
	position:absolute;
	top:250px;
	width:80%;height:1000px;
	margin:0 18% 0 2%;
	background:grey;
}
main h1{
	display:block;
	text-align: center;
	font-size: 60px;
	margin:0;
}
main p{
	display:block;
	text-align: justify;
	font-size: 30px;
	line-height: 30px;
	width:90%;
	margin:0 5% 15px;
	background:pink;
}
#shopContainer{
	width:95%;
	margin:0 2.5%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.shopitemContainer{
	position:relative; /*needed for absolute positioning of children*/
	width:250px;height:300px;
	margin:5px;
	background:pink;
}
.shopitemImage{
	width:100%;height:100%;
	background:yellow;
}
.shopitemText{
	display:block;
	margin:84% 0 0 0;
	width:100%;height:30%;
	background:orange;
}
.shopitemContainer button{
	display:block;
	position:absolute;
	bottom:5px;
	left:36%;
}
aside{
	position:fixed;
	z-index: 50;
	top:200px;right:0;
	width:300px;height:500px;
	background:red;
}
#cartItemContainer{
	width:280px;height:430px;
	margin:10px;
	background:yellow;
	overflow:scroll;
}
#total{
	width:100%;
	font-size: 24px;
	position:absolute;
	bottom:5px;
	text-align:center;
}
#buttonContainer{
	position:absolute;
	left:0;
	bottom:10px;
	display:flex;
	justify-content: space-around;
	width:100%;
}
.cartItem{
	background:grey;
	width:98%;height:100px;
	display:flex;
	margin:1%;
}
.cartImage{
	flex:1;
	background:blue;
}
.cartItem p{
	flex:2;
	margin:0;
}

